.main {
   display: grid;
   grid-template-columns: 1fr 5fr;
   grid-template-rows: 1fr 6fr;
   grid-template-areas: 
   "nav header"
   "nav content";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 100px 250px;
    grid-template-rows: 5fr repeat(5, 2fr) 6fr 2fr 2fr 2fr 10fr;
    background-color: rgb(80, 162, 235);
    color: white;
}

.nav > img {
    height: 30px;
    line-height: 30px;
    margin: 10px auto;
}

.nav > div {
    height: 30px;
    line-height: 30px;
    margin: 10px auto 10px 0px;
    font-size: 24px;
    font-weight: bold;
}

.nav > .main-icon {
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    font-weight: bolder;
}

.white-fill {
    fill: white;
}
